@model List<Da3.Core.Entities.Job>

@{
    ViewBag.Title = "List Job";
    Layout = "_AdminLayout";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-map icon-gradient bg-premium-dark">
                </i>
            </div>
            <div>
                List Job
                <div class="page-title-subheading">
                    Extend Job, Or delete Job
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <a class="btn btn-success" href="/employer/create">Create Job</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title">Account List</div>
                <table id="newContact" class="mb-0 table table-bordered" width="100%">
                    <thead>
                    <tr>
                        <td width="20px">Id</td>
                        <td>Title</td>
                        <td>Salary</td>
                        <td>Created At</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
     <script>
            var ajaxUrls = "/employer/all";
            var c = 0;
            var contractTable = $('#newContact').DataTable({
                ajax: ajaxUrls,
                deferRender: true,
                scrollX: true,
                "info": false,
                "pageLength": 20,
                scrollY: "400px",
                "paging":   false,
                "scrollCollapse": true,
                scroller: {
                    rowHeight: 30
                },
                dom: 'Bfrtip',
                buttons: [
                ],
                language: copiedEmailLanguage,
                columnDefs: [
                    {
                        "targets": "_all",
                        "defaultContent": ""
                    },
                    {
                        "name": "id",
                        "data": "id",
                        "targets": [c++]
                    },
                    {
                        "name": "title",
                        "data": "title",
                        "targets": [c++],
                        "render": function (data, type, row) {
                            return row.title;
                        }
                    },
                     {
                                                       "name": "salary",
                                                       "data": "salary",
                                                       "targets": [c++]
                                                   },
                    {
                        "name": "created_at",
                        "data": "created_at",
                        "targets": [c++],
                        "render": function (data, type, row) {
                            return `${row.createdTime}`+` (${row.expired})`;
                        }
                    },
                    {
                        "name": "ActionId",
                        "targets": [c++],
                        "render": function (data, type, row) {
                            var id = row.friendly_url;
                            return `<a class='btn btn-xs btn-danger' style="margin-right: 15px" title='Delete' href='/employer/extend/${id}'>Extend</a>`
                        }
                    }
                ]
            });
        </script>
}